<!DOCTYPE html>
<html lang="en">
    <%- include('../layout/head') %>
<body>
    <%- include('../layout/header') %>

    <main>
        <h2>There is No Products in Your Card</h2>
    </main>

    <%- include('../layout/footer') %>

</body>
</html>