<header>
    <h2 class="h2-header">Maybelline Products</h2>
    <nav>
        <a class="a-header" href="/">Home</a>
        <a class="a-header" href="/maybellineProducts">All Products</a>
        <a class="a-header" href="/myProducts">My Card</a>
    </nav>
</header>